volumes:
  postgres_data:
    name: db

services:
  bot:
    container_name: app
    image: ghcr.io/pascalcode1/task-chrono-bot:latest
    restart: always
    depends_on:
      - postgres
    env_file:
      - .env

  postgres:
    container_name: db
    image: postgres
    restart: always
    volumes:
      - db:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - 5432:5432

